.sidebar{
    width: 200px;
}

.sidebar.close{
    width: 80px;
    align-items: center;
    display: flex;
    padding: auto;
    margin: 2px;
}
.toggle-btn{
    
    color: white;
    border: solid;
    border-width:8px 0px 8px 10px ;
    border-color: transparent  transparent transparent white;
    margin: 6px;
    cursor: pointer;
}